#msg_popup
{
    position:fixed;
    height:400px;
    width:300px;
    right: 20px;
    z-index: 999;
}

#msg_popup.msg-expanded
{
    bottom:-20px;
    transition: height,bottom 0.2s;
}

#msg_popup.msg-collapsed
{
    cursor: pointer;
}
#msg_popup.msg-collapsed
{
    transition: all 0.2s;
}

    #msg_popup .panel-heading
    {
        cursor: pointer;
    }

    #msg_popup .panel-body
    {
        height:301px;
        overflow-y: auto;
    }
        #msg_popup .panel-body::-webkit-scrollbar
        {
            width: 12px;
        }
        #msg_popup .panel-body::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
        }
        #msg_popup .panel-body::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }
        #msg_popup .panel-body::-webkit-scrollbar-track:window-inactive
        {
            width:0;
        }

        #msg_popup .panel-body .msg
        {
            padding: 0 10px;
        }
            #msg_popup .panel-body .msg .profile
            {
                padding:0;
            }
                #msg_popup .panel-body .msg .profile img
                {
                    width:40px;
                    height:40px;
                    border-radius:20px;
                }
            /* #msg_popup .panel-body .msg .profile */

            #msg_popup .panel-body .msg .messages ul
            {
                list-style: none;
                padding:0;
                width:100%;
            }
                #msg_popup .panel-body .msg .messages ul li
                {
                    padding:10px;
                    margin-top:4px;
                    border-radius: 12px;
                }
                    #msg_popup .panel-body .msg .messages ul li p
                    {
                        margin:0;
                        word-wrap: break-word;
                    }
                /* #msg_popup .panel-body .msg .messages ul li */

                #msg_popup .panel-body .msg-left .messages ul li
                {
                    background-color: #f89406;
                    color: black;
                }
                    #msg_popup .panel-body .msg-left    .messages ul li:nth-child(1)::before,
                    #msg_popup .panel-body .msg-right   .messages ul li:nth-child(1)::after
                    {
                        content: " " !important;
                        width:10px;
                        height:5px;
                        border-style: solid;
                        position:absolute;
                    }
                    #msg_popup .panel-body .msg-left .messages ul li:nth-child(1)::before
                    {
                        border-width: 0 16px 16px 0;
                        border-color: transparent #f89406 transparent transparent;
                        left:0;
                    }
                /* #msg_popup .panel-body .msg-left .messages ul l */

                #msg_popup .panel-body .msg-right .messages ul li
                {
                    background-color: #62c462;
                    color: black;
                }
                    #msg_popup .panel-body .msg-right .messages ul > li:nth-child(1)::after
                    {
                        border-width: 0 0 16px 16px;
                        border-color: transparent transparent transparent #62c462;
                        top: 15px;
                        right:0;
                    }
                /* #msg_popup .panel-body .msg-right .messages ul li */
            /* #msg_popup .panel-body .msg .messages ul */
        /* #msg_popup .panel-body .msg */
    /* #msg_popup .panel-body*/

    #msg_popup .panel-footer
    {
        display:flex;
    }
/* #msg_popup */

@media (max-width: 767px) and (min-width: 0px)
{
    #msg_popup
    {
        width:100%;
        right:0;
        height:500px;
    }

    #msg_popup .panel-body
    {
        height:400px;
    }

    #msg_popup.msg-collapsed
    {
        bottom: -482px;
    }

    .disable-scroll
    {
        overflow:hidden;
    }
}
@media (min-width: 768px)
{
    #msg_popup.msg-collapsed:hover
    {
        bottom: -370px;
        transition: height,bottom 0.2s;
    }

    #msg_popup.msg-collapsed
    {
        bottom:-381px;
    }
}