.new-checkbox .btn span.glyphicon {
    opacity: 0;
}
.new-checkbox .btn.active span.glyphicon {
    opacity: 1;
}
.borxhi-toggle-js{
    padding-top:0;
}
.btn.glyphicon-minus-sign, .btn.glyphicon-chevron-down, .borxhet-js .borxhi-toggle-js{
    border-color:rgba(0,0,0,0);
}
.btn.glyphicon-minus-sign{
    margin-top:2px;
}
.btn.glyphicon-chevron-down, .new-checkbox{
    margin-top:3px;
}
.dropup .dropdown-menu-right{
    padding: 5px;
    border: 2px solid white;
}

.personale-js{
    cursor: pointer;
}