.blerja-row {
    margin-bottom: 40px;
}

.blerja-row .media:hover
{
    cursor: pointer;
}

.blerja-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    padding-top:13px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.blerja-row .user-infos
{
    margin-top:10px;
}

.blerja-row .img-circle
{
    width: 60px;
}